<h1>My profile</h1>

<p>User info</p>
<div class="userInfo">

</div>  
<hr />

<p>Projects:</p>
<div class="projects">

</div>
<a asp-action="CreateProject" asp-controller="Project">Create project</a>
<hr />

<p>reviews:</p>
<div class="reviews">

</div>
<hr />